@import '../../styles/_base.scss';

.ant-drawer-content-wrapper {
    height: fit-content !important;

    .ant-drawer-header-title {
        flex-direction: row-reverse;

        .ant-drawer-title {
            font-size: 20px;
            font-weight: 800;
            color: $primary-text-color;
        }
    }

    .ant-drawer-body {
        display: flex;
        justify-content: center;

        .step-drawer-form {
            width: 100%;
            max-width: 670px;

            h3 {
                font-size: 24px;
                font-weight: 800;
                color: $primary-color;
            }

            .input-holder {
                margin-bottom: 24px;
                width: 100%;
                max-width: 323px;

                p {
                    @include base-text;
                    font-weight: 600;
                }

                input {
                    @include base-input
                }

                .error-message {
                    font-size: 12px;
                    color: red;
                }

                select {
                    @include base-input;
                    width: 100%
                }
            }
        }
    }

}